<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <h2>Contact Us</h2>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="contact-form-area contact-page">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control border" id="name" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="email" class="form-control border" id="email" placeholder="Your E-mail">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control border" id="subject" placeholder="Your Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control border" id="message" cols="30" rows="10" placeholder="Your Message" style="height:125px;"></textarea>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <button class="btn credit-btn" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="single-contact-area mb-100">
                    <div class="contact--area contact-page">
                        <div class="contact-content">
                            <h5>Address</h5>
                            <div class="single-contact-content d-flex align-items-center">
                                <div class="icon">
                                    <img src="assets/images/img/core-img/location.png" alt="">
                                </div>
                                <div class="text">
                                    <p>address here<br> pincode here</p>
                                </div>
                            </div>
                            <div class="single-contact-content d-flex align-items-center">
                                <div class="icon">
                                    <img src="assets/images/img/core-img/call.png" alt="">
                                </div>
                                <div class="text">
                                    <p>337-413-9538</p>
                                    <p>337-413-9538</p>
                                </div>
                            </div>
                            <div class="single-contact-content d-flex align-items-center">
                                <div class="icon">
                                    <img src="assets/images/img/core-img/message2.png" alt="">
                                </div>
                                <div class="text">
                                    <p>contact@yourbusiness.com</p>
                                    <p>contact@yourbusiness.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="single-contact-area mb-100">
                    <iframe src="https://maps.google.com/maps?q=pappugroup&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="height:400px; width:100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>