<!-- profile and document -->
<div class="row justify-content-center align-item-center wow fadeInUp mt-3" data-wow-delay="100ms">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="bg-info text-center text-white text-uppercase">profile & document</nb-card-header>
      <nb-card-body>
          <div class="row">
              <!-- company_name -->
              <div class="col-md-5">
                <div class="row justify-content-center">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Company Name</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label> : </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                    </div>
                  </div>
                    <!-- contact_person -->
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label>Contact Person</label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label> : </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" nbInput fullWidth required>
                        </div>
                      </div>
                      <!-- mobilenumber -->
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Mobile Number</label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label> : </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" nbInput fullWidth required>
                        </div>
                      </div>
                      <!-- phonenumber -->
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Phone Number</label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label> : </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input type="text" nbInput fullWidth required>
                        </div>
                      </div>  
                    <!-- email -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Email</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>
                    <!-- address -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Address</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div> 
                    <!-- city -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>City</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>                  
                    <!-- state -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>State</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>
                    <!-- country -->                    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Country</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>                   
                    <!-- pincode -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Pin Code</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>                                     
                    <!-- fax -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Fax</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>
                    <!-- preferedcurrency -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Prefered Currency</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>
                    <!-- import_exportcode -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Import Exportcode</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>
                    <!-- gstinnumber -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Mobile Number</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>
                    <!-- pannumber -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Pan Number</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label> : </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" nbInput fullWidth required>
                      </div>
                    </div>                   
                    </div>
                  </div>
                <!-- pdf -->
                <div class="col-md-7">
                  <div class="row">
                      <embed src="file.pdf" width="100%" height="600px" />                  
                  </div>
                </div>
            <!-- close -->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>