<div class="row justify-content-center align-item-center wow fadeInUp mt-3" data-wow-delay="100ms">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header class="bg-info text-center text-white text-uppercase">Involving Auction</nb-card-header>
      <nb-card-body>       
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header class="bg-info text-center text-white text-uppercase">Bidding Progress</nb-card-header>
      <nb-card-body>       
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header class="bg-info text-center text-white text-uppercase">Upcoming Auction</nb-card-header>
      <nb-card-body>       
      </nb-card-body>
    </nb-card>
  </div>
</div>