<footer class="footer-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">About Us</h5>
                    <nav>
                        <ul>
                            <li><p href="#">We adopt a competent global delivery model in providing value based professional services for thousands of clients across the world.</p></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">heading 1</h5>
                    <nav>
                        <ul>
                            <li><a href="#">title 1</a></li>
                            <li><a href="#">title 2</a></li>
                            <li><a href="#">title 3</a></li>
                            <li><a href="#">title 4</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">heading 2</h5>
                    <nav>
                        <ul>
                            <li><a href="#">title 1</a></li>
                            <li><a href="#">title 2</a></li>
                            <li><a href="#">title 3</a></li>
                            <li><a href="#">title 4</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">Contact Us</h5>
                    <nav>
                        <ul>
                            <li><p>No.30,link road,B1S3, Paris Appartment. Maduvinkarai, Guindy, chennai, Tamilnadu 600032, India</p></li>                              
                            <li><p><span><i class="fa fa-phone"></i></span> &nbsp;&nbsp;044 49571777 , 72000 11777</p></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Copywrite -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="copywrite-content d-flex flex-wrap justify-content-center align-items-center">
                        <p class="copywrite-text text-center">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed by <a href="https://pappugroup.com" target="_blank">PappuGroup Analytics</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>