<div class="row justify-content-center align-item-center wow fadeInUp mt-3" data-wow-delay="100ms">
  <div class="col-md-12">
    <nb-card>
    <nb-card-header class="bg-info text-center text-white text-uppercase">bidding Creation</nb-card-header>
      <nb-card-body>
        <div class="row">
          <!-- 1 -->
          <div class="col-sm-3">
            <div class="input-group">
                <input type="text" required>
                <label>field name</label>
            </div>
          </div>
          <!-- 2 -->
          <div class="col-sm-3">
            <div class="input-group">
                <input type="text" required>
                <label>field name</label>
            </div>
          </div>
          <!-- 3 -->
          <div class="col-sm-3">
            <div class="input-group">
                <input type="text" required>
                <label>field name</label>
            </div>
          </div>
          <!-- 4 -->
          <div class="col-sm-3">
            <div class="input-group">
                <input type="text" required>
                <label>field name</label>
            </div>
          </div>                
            <!-- close -->
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>